Practicing Time Series Analysis on NASDAQ AAPL

In [0]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd 
from google.colab import files

In [8]:
uploaded = files.upload()

Saving grid nodate.xls to grid nodate.xls

In [9]:
#Read Date as time stamp and let the index be Date 
data = pd.read_excel("grid.xls",parse_date= 'Date',index_col= 'Date')
#data.head() 
#data.index
data.shape

(252, 5)

In [0]:
#Retrieve Data based on certain date 
data[data.index=='2017-05-30']

In [11]:
#Retrieve Data based on Year(2017)
data['2017':'2018']

              Open      High       Low   Close    Volume
Date
2017-05-26  154.00  154.2400  153.3100  153.61  21895020
2017-05-30  153.42  154.4300  153.3300  153.67  20118620
2017-05-31  153.97  154.1700  152.3800  152.76  24452750
2017-06-01  153.17  153.3300  152.2200  153.18  16383610
2017-06-02  153.58  155.4500  152.8900  155.45  27715140
2017-06-05  154.34  154.4500  153.4600  153.93  25277680
2017-06-06  153.90  155.8100  153.7800  154.45  26591850
2017-06-07  155.02  155.9800  154.4800  155.37  21017560
2017-06-08  155.25  155.5400  154.4000  154.99  21144040
2017-06-09  155.19  155.1900  146.0200  148.98  64782910
2017-06-12  145.74  146.0900  142.5100  145.42  72187710
2017-06-13  147.16  147.4500  145.1500  146.59  34089190
2017-06-14  147.50  147.5000  143.8400  145.16  31454590
2017-06-15  143.32  144.4798  142.2100  144.29  31642900
2017-06-16  143.78  144.5000  142.2000  142.27  50264540
2017-06-19  143.66  146.7400  143.6600  146.34  32203640
2017-06-20  146.87  146.8700  144.9400  145.01  24877950
2017-06-21  145.52  146.0693  144.6100  145.87  21247590
2017-06-22  145.77  146.7000  145.1199  145.63  19082170
2017-06-23  145.13  147.1600  145.1100  146.28  35421310
2017-06-26  147.17  148.2800  145.3800  145.82  25674500
2017-06-27  145.01  146.1600  143.6200  143.73  24725210
2017-06-28  144.49  146.1100  143.1601  145.83  22052920
2017-06-29  144.71  145.1300  142.2800  143.68  31450520
2017-06-30  144.45  144.9600  143.7800  144.02  22986960
2017-07-03  144.88  145.3001  143.1000  143.50  14277850
2017-07-05  143.69  144.7900  142.7237  144.09  21550270
2017-07-06  143.02  143.5000  142.4100  142.73  24110330
2017-07-07  142.90  144.7500  142.9000  144.18  18527000
2017-07-10  144.11  145.9500  143.3700  145.06  21080580
...            ...       ...       ...     ...       ...
2017-11-16  171.18  171.8700  170.3000  171.10  23598650
2017-11-17  171.04  171.3900  169.6400  170.15  21884010
2017-11-20  170.29  170.5600  169.5600  169.98  16041550
2017-11-21  170.78  173.7000  170.7800  173.14  25047130
2017-11-22  173.36  175.0000  173.0500  174.96  25558680
2017-11-24  175.10  175.5000  174.6459  174.97  14026670
2017-11-27  175.05  175.0800  173.3400  174.09  20591090
2017-11-28  174.30  174.8700  171.8600  173.07  26387240
2017-11-29  172.63  172.9200  167.1600  169.48  41459120
2017-11-30  170.43  172.1400  168.4400  171.85  41484540
2017-12-01  169.95  171.6700  168.5000  171.05  39735110
2017-12-04  172.48  172.6200  169.6300  169.80  32512580
2017-12-05  169.06  171.5200  168.4000  169.64  27315530
2017-12-06  167.50  170.2047  166.4600  169.01  28397810
2017-12-07  169.03  170.4400  168.9100  169.32  25656110
2017-12-08  170.49  171.0000  168.8200  169.37  23285760
2017-12-11  169.20  172.8900  168.7900  172.67  34260890
2017-12-12  172.15  172.3900  171.4610  171.70  19088170
2017-12-13  172.50  173.5400  172.0000  172.27  23402510
2017-12-14  172.40  173.1300  171.6500  172.22  20442740
2017-12-15  173.63  174.1700  172.4600  173.97  40122100
2017-12-18  174.88  177.2000  174.8600  176.42  29385650
2017-12-19  175.03  175.3900  174.0900  174.54  27393660
2017-12-20  174.87  175.4200  173.2500  174.35  23451420
2017-12-21  174.17  176.0200  174.1000  175.01  20848660
2017-12-22  174.68  175.4240  174.5000  175.01  16339690
2017-12-26  170.80  171.4700  169.6790  170.57  33113340
2017-12-27  170.10  170.7800  169.7100  170.60  21477380
2017-12-28  171.00  171.8500  170.4800  171.08  16412270
2017-12-29  170.52  170.5900  169.2200  169.23  25938760

[151 rows x 5 columns]

In [0]:
#Retrieve Data based on Month(6)
#data['2017-06':'2017-07']
#data['2017-06':'2017-07'].Low
#data['2017-06':'2017-07'].High.mean()
#data['Close'].resample('Year')

In [0]:
%matplotlib inline
data['Close'].plot()

**Handling holidays and custom calendars**

In [12]:
rng = pd.date_range(start='7/1/2017' ,end='7/21/2017',freq='B') #Business frequency 
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [13]:

import pandas as pd
US = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017", end="7/30/2017", freq=US)

rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

In [28]:
rng = pd.date_range(start="2017-05-25", end="2018-05-27", freq=US)
data.set_index(rng,inplace=True)
data.head()

              Open    High     Low   Close    Volume
2017-05-25  154.00  154.24  153.31  153.61  21895020
2017-05-26  153.42  154.43  153.33  153.67  20118620
2017-05-30  153.97  154.17  152.38  152.76  24452750
2017-05-31  153.17  153.33  152.22  153.18  16383610
2017-06-01  153.58  155.45  152.89  155.45  27715140

Retrieving data based on custome freq

In [0]:
Arabic_weekmask = 'Sun Mon Tue Wen Thu' 
arab_week = CustomBusinessDay(calendar=Arabic_weekmask)

In [33]:
rng = pd.date_range(start="2017-05-25", end="2018-05-27", freq=arab_week)
rng

DatetimeIndex(['2017-05-25', '2017-05-26', '2017-05-29', '2017-05-30',
               '2017-05-31', '2017-06-01', '2017-06-02', '2017-06-05',
               '2017-06-06', '2017-06-07',
               ...
               '2018-05-14', '2018-05-15', '2018-05-16', '2018-05-17',
               '2018-05-18', '2018-05-21', '2018-05-22', '2018-05-23',
               '2018-05-24', '2018-05-25'],
              dtype='datetime64[ns]', length=262, freq='C')